:root {
  --color-foreground: hsl(0, 0%, 97%);
  --color-background: hsl(0, 0%, 9%);
  --color-accent-primary: hsl(226, 100%, 42%);
  --color-accent-secondary: hsl(0, 97%, 42%);
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --color-error: hsl(0, 71%, 50%);
  --font-body: 'Open Sans', sans-serif;
  --font-heading: 'Bakbak One', sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  /* background: rgb(1, 0, 8);
  background: linear-gradient(
    33deg,
    rgb(17, 17, 17) 0%,
    rgba(1, 1, 33, 1) 44%,
    rgb(22, 22, 22) 100%
  ); */
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--font-heading);
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
  h1,
  .h1 {
    font-size: 2.2rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }
}

a {
  color: var(--color-foreground);
}

a.button {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

@media screen and (max-width: 500px) {
  .flex-column-mobile {
    flex-direction: column;
  }
}

.space-right {
  margin-right: 1rem;
}

button,
.button {
  background: var(--color-accent-primary);
  border: none;
  font-family: var(--font-heading);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--color-foreground);
  box-shadow: var(--color-accent-secondary) 3px 3px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
}

button.secondary {
  background: var(--color-foreground);
  color: var(--color-background);
}

button.plain {
  color: var(--color-foreground);
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
  text-decoration: underline;
  font-family: var(--font-body);
  font-size: 1rem;
  border-radius: none;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-group {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.form-groups {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .form-group {
    flex-direction: column;
  }
}

.empty-state {
  text-align: center;
}

.vertically-spaced {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

/*
 * COMPONENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/*
 * Layout
 */

.Layout {
  min-height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.Layout header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.Layout .logo {
  font-family: var(--font-heading);
  font-size: 4rem;
  text-decoration: none;
  text-shadow: var(--color-accent-secondary) 3px 3px,
    var(--color-accent-primary) 6px 6px;
}

.Layout nav a {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-left: 1rem;
  color: var(--color-foreground);
}

@media screen and (min-width: 500px) {
  .mobile-nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .Layout header {
    flex-direction: row;
    justify-content: space-between;
  }

  .Layout .logo {
    font-size: 2.1rem;
  }

  .Layout nav {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    background: var(--color-background);
    box-shadow: 3px 3px rgba(115, 115, 115, 0.28);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .Layout .mobile-nav-toggle span {
    transform: rotate(45deg);
  }

  .Layout nav.mobile-nav--open {
    top: 0;
  }

  .Layout nav a {
    margin-left: 0;
  }
}

/*
 * Footer
 */

.Footer {
  text-align: center;
  padding: 1rem;
}

/*
 * Card
 */

.card {
  background: rgba(115, 115, 115, 0.28);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px var(--color-foreground);
  overflow: hidden;
}

.card--full {
  padding: 0;
}

/*
 * TextField
 */

.TextField {
  display: block;
  width: 100%;
}

.TextField label {
  width: 100%;
}

.TextField input {
  display: block;
  width: 100%;
  color: var(--color-foreground);
  background: hsla(0, 0%, 65.1%, 0.7);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
}

.TextField--error {
  color: var(--color-error);
}

/*
 * Select
 */

.Select {
  width: 100%;
}

.Select select {
  display: block;
  width: 100%;
  background: hsla(0, 0%, 65.1%, 0.7);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--color-foreground);
}

/*
 * GameCard
 */

.GameCard__matchup {
  width: 100%;
  display: flex;
}

.GameCard__team {
  width: 100%;
  text-align: center;
  font-family: var(--font-heading);
  font-size: 3rem;
  padding: 1rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GameCard__team p {
  line-height: 1;
}

.GameCard__pick {
  padding: 1rem;
}

/*
 * GameFilter
 */

.GameFilter--toggle {
  margin-bottom: 1rem;
}

.GameFilter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.GameFilter--Filters {
  display: flex;
  width: 60%;
  gap: 1rem;
}

.GameFilter--buttons {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .GameFilter {
    flex-direction: column;
    align-items: flex-start;
  }

  .GameFilter--Filters {
    width: 100%;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

/*
 * PickForm 
 */

.PickForm {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-with-text svg {
  margin: 0.5rem;
}

/*
 * Tables
 */

table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  margin-right: 1rem;
}

td,
th {
  padding: 0.6rem;
  border: 1px solid hsl(0, 0%, 81%);
  white-space: nowrap;
}

tr:hover {
  background: rgba(115, 115, 115, 0.35);
}

th {
  text-align: left;
  background-color: rgba(115, 115, 115, 0.28);
}

tr:nth-child(odd) td {
  background-color: rgba(115, 115, 115, 0.28);
}

table a {
  text-decoration: none;
}

/*
 * Heading with Action
 */

.HeadingWithAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

/*
 * PicksList
 */

.PicksList {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: flex-start;
}

.PicksList ul {
  list-style-type: none;
  width: 50%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.PicksList li {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.away-picks {
  justify-content: flex-end;
}

.away-picks li {
  margin-right: 0;
  margin-left: 0.5rem;
}

/*
 * PAGES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/*
 * Log in
 */

.signup-link {
  margin-top: 1rem;
}

.account-form {
  max-width: 500px;
  margin: 0 auto;
}

/*
 * Sign up
 */

.login-link {
  margin-top: 1rem;
}

/*
 * Index
 */

.game-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
}

@media screen and (max-width: 500px) {
  .game-list {
    display: block;
  }
}

/*
 * Admin
 */

.AdminHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
   * Leaderboard
   */

.leaderboard-legend {
  width: 100%;
  margin-bottom: 0.8rem;
}

.scroll {
  overflow: scroll;
}
