.NFL-ARI {
  background: #97233f;
  color: #ffffff;
  border-bottom: 5px solid #ffb612;
}

.NFL-ATL {
  background: #a71930;
  color: #ffffff;
  border-bottom: 5px solid #000000;
}

.NFL-BAL {
  background: #241773;
  color: #ffffff;
  border-bottom: 5px solid #9e7c0c;
}

.NFL-BUF {
  background: #00338d;
  color: #ffffff;
  border-bottom: 5px solid #c60c30;
}

.NFL-CAR {
  background: #0085ca;
  color: #ffffff;
  border-bottom: 5px solid #000000;
}

.NFL-CHI {
  background: #0b162a;
  color: #ffffff;
  border-bottom: 5px solid #c83803;
}

.NFL-CIN {
  background: #fb4f14;
  color: #ffffff;
  border-bottom: 5px solid #000000;
}

.NFL-CLE {
  background: #ff3c00;
  color: #ffffff;
  border-bottom: 5px solid #311d00;
}

.NFL-DAL {
  background: #041e42;
  color: #ffffff;
  border-bottom: 5px solid #869397;
}

.NFL-DEN {
  background: #002244;
  color: #ffffff;
  border-bottom: 5px solid #fb4f14;
}

.NFL-DET {
  background: #0076b6;
  color: #ffffff;
  border-bottom: 5px solid #b0b7bc;
}

.NFL-GB {
  background: #203731;
  color: #ffffff;
  border-bottom: 5px solid #ffb612;
}

.NFL-HOU {
  background: #03202f;
  color: #ffffff;
  border-bottom: 5px solid #a71930;
}

.NFL-IND {
  background: #002c5f;
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
}

.NFL-JAX {
  background: #006778;
  color: #ffffff;
  border-bottom: 5px solid #d7a22a;
}

.NFL-KC {
  background: #e31837;
  color: #ffffff;
  border-bottom: 5px solid #ffb81c;
}

.NFL-LAC {
  background: #0080c6;
  color: #ffffff;
  border-bottom: 5px solid #ffc20e;
}

.NFL-LAR {
  background: #003594;
  color: #ffffff;
  border-bottom: 5px solid #ffd100;
}

.NFL-MIA {
  background: #008e97;
  color: #ffffff;
  border-bottom: 5px solid #fc4c02;
}

.NFL-MIN {
  background: #4f2683;
  color: #ffffff;
  border-bottom: 5px solid #ffc62f;
}

.NFL-NE {
  background: #002244;
  color: #ffffff;
  border-bottom: 5px solid #c60c30;
}

.NFL-NO {
  background: #d3bc8d;
  color: #101820;
  border-bottom: 5px solid #101820;
}

.NFL-NYG {
  background: #0b2265;
  color: #ffffff;
  border-bottom: 5px solid #a71930;
}

.NFL-NYJ {
  background: #125740;
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
}

.NFL-OAK {
  background: #000000;
  color: #ffffff;
  border-bottom: 5px solid #a5acaf;
}

/* Support both OAK and LV so it doesnt break when we change the name */
.NFL-LV {
  background: #000000;
  color: #ffffff;
  border-bottom: 5px solid #a5acaf;
}

.NFL-PHI {
  background: #004c54;
  color: #ffffff;
  border-bottom: 5px solid #a5acaf;
}

.NFL-PIT {
  background: #000000;
  color: #ffffff;
  border-bottom: 5px solid #ffb612;
}

.NFL-SF {
  background: #aa0000;
  color: #ffffff;
  border-bottom: 5px solid #b3995d;
}

.NFL-SEA {
  background: #002244;
  color: #ffffff;
  border-bottom: 5px solid #69be28;
}

.NFL-TB {
  background: #d50a0a;
  color: #ffffff;
  border-bottom: 5px solid #000000;
}

.NFL-TEN {
  background: #0c2340;
  color: #ffffff;
  border-bottom: 5px solid #4b92db;
}

.NFL-WAS {
  background: #773141;
  color: #ffffff;
  border-bottom: 5px solid #ffb612;
}
